    <style> 
body {
    background-color: #30302f;
    }
a {
    font-family:'Courier New';
    }
h1 {
    font-family:'Courier New';
}
    </style>
<center>
    <br>
<p><a style="color: #345a94;" href="https://ixl-fl0.3.us-1.fl0.io/" target="_blank">Intersteller</a></p>
<br>
<p><a style="color: #345a94;" href="https://mathia.meexpress.net/" target="_blank">Intersteller</a></p>
<br>
<p><a style="color: #345a94;" href="https://extramathequations.web.app/" target="_blank">Frogies Arcade</a></p>
<br>
<p><a style="color: #345a94;" href="https://come.make.com.ar/" target="_blank">Frogies Arcade</a></p>
<br>
<p><a style="color: #345a94;" href="https://frogiee1stoolbox.eu.org/" target="_blank">Frogies Arcade</a></p>
<br>
<h1 style="color: white;">Made By Sandeater</h1>
<br>
<p><a style="color: #345a94;" href="http://sand.22web.org" target="_blank">Go Home</a></p>
<title>Math Help</title>
</center>
